<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <classFiles>target/classes</classFiles>
    <classPath>target/classes/:target/test-classes/</classPath>
    <projectDir>.</projectDir>
    <sourcePath>src/main/java/</sourcePath>
    <testDir>src/test/java</testDir>
    <testRunner>org.junit.runner.JUnitCore</testRunner>
</configuration>